@*<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--colored" style="bottom: 20px; position: fixed; right: 20px; z-index: 1" data-badge="2" >
        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">shopping_cart</div>

    </button>*@

<button id="btn_Card" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--colored oxy-button-fab oxy-js-button-shopping-cart mdl-badge oxy-button-fab__badge" data-badge="3" style="bottom: 20px; position: fixed; right: 20px; z-index: 1">
    <i class="material-icons">shopping_cart</i><span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
</button>









