@{
    ViewData["Title"] = "Home Page";
}
    <my-app><div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate text-center"></div></my-app>
<!-- Left aligned menu below button -->


